body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange{
    color: orange;
}
#left-border{
    border-left: 5px solid tomato;
    border-radius: 8px;
}
.flexible-container{
    display: flex;
    margin-top: 30px;
}
.half-width{
    width: 50%;
}
#header-text{
    margin-top: 50px;
    margin-left: 100px;
}
 p{
    font-size: 20px;
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;

}
.half-width img{
    width: 70%;
    padding: 20px 10px;
}
.center{
    font-size: 40px;
    display: block;
    text-align: center;
}

#mission img{
    height: 200px;
    width: 200px;
}
#mission-1{
    width: 33%;
    margin: 5px 10px;
    padding: 5px 5px;
    border-radius: 8px;
}
#mission-1 p{
    font-size: 16px;
}
img{
    width: 70%;
    height: 400px;
    display: block;
    margin: 0 auto;
}
.text{
    margin: 50px 10px;
    text-align: justify;
}
.develop-product{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 300px;
}
.community{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 150px;
}
.contact{
    width: 70%;
    display: block;
    margin: 0 auto;
    background-color: linear-gradient(grey,white);
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(14, 12, 12);
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}
input[type=submit] {
    background-color: tomato;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
